---
repos:
  - repo: https://github.com/oxsecurity/megalinter
    rev: v6.8.0 # Git tag specifying the hook, not mega-linter-runner, version
    hooks:
      - id: megalinter-incremental # Faster, less thorough
        stages:
          - pre-commit
        args:
          - mega-linter-runner
          - --containername
          - "megalinter-incremental"
          - --flavor"
          - "rust"
      - id: megalinter-full # Slower, more thorough
        stages:
          - pre-push
        args:
          - mega-linter-runner
          - --containername
          - "megalinter-full"
          - --flavor"
          - "rust"

  # - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  #   rev: v9.22.0
  #   hooks:
  #       - id: commitlint
  #         stages: [commit-msg]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        name: " filesystem/锔 exec 路 Verifying shebang presence"
      - id: check-shebang-scripts-are-executable
        name: " filesystem/锔 exec 路 Verifying script permissions"
      - id: check-case-conflict
        name: " filesystem/ names 路 Checking case sensitivity"
      - id: check-symlinks
        name: " filesystem/ symlink 路 Checking symlink validity"
      - id: destroyed-symlinks
        name: " filesystem/ symlink 路 Detecting broken symlinks"
      - id: check-merge-conflict
        name: " git 路 Detecting conflict markers"
      - id: forbid-new-submodules
        name: " git 路 Preventing submodule creation"
      # - id: no-commit-to-branch
      #   name: " git 路 Protecting main branches"
      #   args: ["--branch", "main", "--branch", "master"]
      - id: check-added-large-files
        name: " git 路 Blocking large file commits"
        args: ["--maxkb=5000"]
